.wrap {
}
.index {
  width: 100px;
  height: 100px;
  background-color: green;
}
.line1 {
  position: absolute;
  top: 0px;
}
.line2 {
  position: absolute;
  left: 400px;
  top: 0;
}
.line3 {
  display: flex;
  position: absolute;
  top: 0px;
  left: 100px;
}
.line4 {
  display: flex;
  position: absolute;
  top: 400px;
  left: 100px;
}
